body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    font-weight: 980;
    line-height: 1.5;
    margin: 10% auto 10%;
}
h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    font-weight: bolder;
}
h3{
    font-family: "Montserrat-Bold";
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 1% 15%;
}

/* Navigation bar */
.navbar{
     padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0px 18px;
}
.nav-link{
    font-size: 1.5rem;
    font-family: "Montserrat-Light";

}

/* Download button */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title image */
.title-image{
    width: 60%;
    position: relative;
    left: 100px;
    bottom: 20px;
    transform: rotate(25deg);
}

/* Features section */
#features{
    padding: 7% 15%;
}
.features-box{
    text-align: center;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials */
#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing section */
#pricing{
    padding: 100px;
    background-color: #fffc;
}
.pricing column{
    padding: 3% 2%;
}

@media (max-width:992px){
  #title{
    text-align: center;
  }
    .title-image{
      top: 0px;  
      left: 0px;
     transform: rotate(0);
 }

}
/* CTA section */
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
    
}
.cta-heading{
    font-size: 3.5rem;
    font-family: "Montserrat-Black";
    font-weight: 900;
    
}
#footer{
    padding: 20px; 
    text-align: center;
}
.p-tag{
    line-height: 3;
}
.a-tag{
    padding: 0px 20px;
    text-decoration: none;
}